.appContent {
    width: 100%;
    h2 {
      margin-top: 0em;
      padding: 10px;
      margin-bottom: 10px;
    }

    h3 {
      margin-left: 10px;
    }
    .content {
      padding-left: 10px;
      display: flex;
      flex-direction: column;
    }
    .search {
      margin-top: 10px;
      form {
        display: flex;
        justify-content: space-between;
      }
    }
}

.summary-item {
  padding: 10px;
  width: 33.33%;
  align-content: center;
  height: 100%;
  margin-top: 15px;
  color: aliceblue;
  background-color: #8aaae5;
  margin: 10px;
  
  &.today {
    background-color: green($color: #000000);
  }
  &.this-month {
    background-color: gray;
  }
  &.this-month {
    background-color: #8aaae5;
  }
  .summary-item-inner {
    text-align: center;
    padding-top: 40px;
    h2 {
      font-family: "Lato", sans-serif;
    }
  }
}

.title-and-profile{
  .profile{
      font-family: 'Lato', sans-serif;
      margin-left: 17px;
  }
}
.sign-out{
  position: absolute;
  bottom: 0;
}

.tab{
  background-color: #4477d4;
}
.message{  
  width: 100%;
  overflow: hidden;
  h3{
    margin-left: 10px;
  }
  .inbox{
    padding: 10px;
    padding-top: 0px;
    width: 100%;
    height: 100%;
  }
}