html, body {
  height: 100%;
  overflow: hidden;
  font-family: "Lato", sans-serif;
}
#root {
  height: inherit;
}
.app{
  height: 100%;
  
}
a {
  text-decoration: none;
  color: #FFF;  
  font-family: 'Lato', sans-serif;
}